/* ShadowRoot CSS for vanilla-layout */
:host {
    min-height: 100vh;
    display: flex;
}
.layout-grid {
    flex: 1;
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: 50px 1fr;

    .left {
        align-items: center;
        /* border-right: 0px solid var(--border-color); */
        /* border: 1px dotted red; */
        background-color: var(--page-background-color);
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        z-index: 11;
    }

    .main { 
        grid-column: 2 / 2;
        grid-row: 1 / 3;
    }
}

label[for=menu-toggle] {
    display: none;
    position: fixed;
    top: 25px;
    left: 25px;
    width: 70px;
    
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 8px 15px;

    background: var(--page-background);
    place-items: center;
    gap: 4px;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 700;
    margin-top: -8px;
    margin-bottom: 12px;
    z-index: 12;
    
}


/* HEADER */
header {
    border-bottom: 1px solid var(--border-color);
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);

    p {
        font-size: 170%;
        font-weight: 900;
        line-height: 0.9;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 15px;
        margin:0;
        /* color: var(--text-color-strong); */
        color: var(--text-color-heading);
    }
}


/* MENU TOGGLE */

#menu-toggle {
    position: absolute;
    top: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    border: 0;
}

#menu-toggle + .left {
    left: 0;
    position: relative;
    transition: left 0.3s;
}

@media (max-width: 1220px) { 
    .layout-grid .main { grid-column: 1 / 3; }
    .layout-grid .sticky { padding-top: 50px; }
    .layout-grid .left { 
        grid-row: 1 / 3; 
        background: var(--page-background);
    }


    #menu-toggle:checked + .left {
        left: -100%;
        border: 0px solid var(--border-color);
        
        overflow: hidden;
    }

    header {
        display: flex;
        flex-direction: column;
        /* flex-direction: column-reverse; */
        
    }

    label[for=menu-toggle] {
        display: flex;
    }
}



/* NAVIGATION ITEMS */

.nav-section-title {
    text-transform: uppercase;
    font-size: 75%;
    font-weight: 800;
    color: var(--text-section-heading);
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
    margin-top: calc(var(--content-padding) / 1);
    margin-bottom: calc(var(--content-padding) / 2);

}

a {
    display: block;
    font-size: 100%;
    color: var(--text-color-strong);
    text-decoration: none;
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
    padding-top: calc(var(--content-padding) / 2);
    padding-bottom: calc(var(--content-padding) / 2);
}

.link-group-parent {
    font-weight: 500;
    color: var(--text-color-strong);
    position: relative;
}

.link-group-children {
    display: none;
}

nav-chevron {
    position: absolute;
    right: 20px;
    top: 13px;
    width: 12px;
    height: 12px;
}

.link-group[active] {
    .link-group-children {
        font-size: 80%;
        display: block;
        padding-left: calc(var(--content-padding) / 2);
    }   

    nav-chevron {
        transform: rotate(90deg);
        right: 15px;
    }
}

a[active] {
    background-color: var(--highlight-background-color);
}

.sticky {
    position: sticky;
    top: 0;
}

slot[name="left-nav"] {
    display: block;

    top: 0px;
    overflow:auto;
    max-height: 100vh;
}

slot[name="left-nav"] {
    scrollbar-color: #888 transparent; /* thumb color track color */
    scrollbar-width: thin; /* Optional: make the scrollbar thinner */
}
slot[name="left-nav"]::-webkit-scrollbar {
    /* width: 10px; Adjust width as needed */
}

slot[name="left-nav"]::-webkit-scrollbar-track {
    background-color: transparent; /* Makes the track transparent */
}

slot[name="left-nav"]::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
}