:host { 
    display: flex; 
}

:host([value=X]) button { color: oklch(0.6746 0.1519 48); }
:host([value=O]) button { color: oklch(0.6746 0.1519 228); }

button { 
    flex-grow: 1; 
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid oklch(0.8 0 0);
}